{% extends 'base.html.twig' %}

{% block title %}Les des personnes{% endblock %}

{% block body %}
    <div class="row">
        {% for person in persons%}
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ person.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ person.firstname }} {{ person.name }}</h6>
                    <p class="card-text"> Vous avez {{ person.age }}</p>
                    <a href="{{path('app_person_detail', {id: person.id})}}" class="card-link">Details</a>
                    <a href="{{ path('app_person_delete', {id: person.id}) }}" class="card-link">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
