{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}
{% block body %}
    <div class="custom">My Own Css</div>
    {{ include ('fragments/hello.html.twig', {name: 'Booster IT'}) }}
    <table class="table">
        <tr class="table-secondary">
            <th>Firstname</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tbody>
        {% for user in users %}
            <tr class="table-{{ loop.index is odd ? 'warning':'danger' }}">
                <th>{{ user.firstname }}</th>
                <th>{{ user.name }}</th>
                <th>{{ user.age }}</th>
            </tr>
        {% else %}
            <tr colspan="3" class="table-danger">
                Il n'y a aucun utilisateur
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for user in users %}
        {{ include ('fragments/hello.html.twig', {name: user.name}) }}
    {% endfor %}

    {{ render(controller('App\\Controller\\NoteController::index', {count: 10} )) }}
    {{ render(controller('App\\Controller\\NoteController::index')) }}
{% endblock %}

{% block styles %}
{#
    3 facons pour le css
    1- Directement sur la balise : Le plusprioritaire
    2- Dans un fichier style externe
    3- Dabns la balise Style
    Entre 2 et 3 le plus prioritaire est le dernier appelé
#}
    <style>
        .custom {
            background-color: #3b82f6;
            color: #B0413E;
        }
    </style>

{% endblock %}